In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4,5])

In [3]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

In [7]:
s1 = pd.Series([1,2,3,4,5], index=('a','b','c','d','e'))
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
s1 = pd.Series({'a':10,'b':20,'c':30},index=('b','c','d','e'))
s1

b    20.0
c    30.0
d     NaN
e     NaN
dtype: float64

In [15]:
import pandas as pd
s1 = pd.DataFrame({"Name":['Bob','Sam','Natt'],"Marks":[73,25,92]})
s1

   Name  Marks
0   Bob     73
1   Sam     25
2  Natt     92

In [25]:
import pandas as pd 
import datetime
from datetime import datetime

print("Today's Date : ",end="")
print(datetime.now().date())

Today's Date : 2021-08-08

In [30]:
import datetime
from datetime import datetime
print("Date time for jan 15 2012 : ",end="")
print(datetime(2012,1,15))
print("\nSpecific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20))
print("\nLocal date and time:")
print(datetime.now())
print("\nA date without time: ")
print(datetime.date(datetime(2012,3,28)))
print("\nCurrent date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))
print("\nCurrent local time:") 
print(datetime.now().time())

Date time for jan 15 2012 : 2012-01-15 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2021-08-08 19:01:01.030155

A date without time:
2012-03-28

Current date:
2021-08-08

Time from a datetime:
18:12:00

Current local time:
19:01:01.032687

In [41]:
import pandas as pd
from datetime import date
now = pd.to_datetime(str(date.today()), format='%Y-%m-%d')
print("Today's date:")
print(now)

Today's date:
2021-08-08 00:00:00