In [ ]:
from sklearn import datasets
import numpy as np
import pandas as pd
wine = datasets.load_wine()

In [ ]:
wine.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [ ]:
wine.data.shape

(178, 13)

In [ ]:
wine.target.shape

(178,)

In [ ]:
df = pd.DataFrame(wine.data,columns=[wine.feature_names])
df['target'] = wine.target
df

    alcohol malic_acid   ash  ... od280/od315_of_diluted_wines proline target
0     14.23       1.71  2.43  ...                         3.92  1065.0      0
1     13.20       1.78  2.14  ...                         3.40  1050.0      0
2     13.16       2.36  2.67  ...                         3.17  1185.0      0
3     14.37       1.95  2.50  ...                         3.45  1480.0      0
4     13.24       2.59  2.87  ...                         2.93   735.0      0
..      ...        ...   ...  ...                          ...     ...    ...
173   13.71       5.65  2.45  ...                         1.74   740.0      2
174   13.40       3.91  2.48  ...                         1.56   750.0      2
175   13.27       4.28  2.26  ...                         1.56   835.0      2
176   13.17       2.59  2.37  ...                         1.62   840.0      2
177   14.13       4.10  2.74  ...                         1.60   560.0      2

[178 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaling = MinMaxScaler()

In [ ]:
dat = scaling.fit_transform(df[df.columns])
df = pd.DataFrame(dat)
df

           0         1         2         3   ...        10        11        12   13
0    0.842105  0.191700  0.572193  0.257732  ...  0.455285  0.970696  0.561341  0.0
1    0.571053  0.205534  0.417112  0.030928  ...  0.463415  0.780220  0.550642  0.0
2    0.560526  0.320158  0.700535  0.412371  ...  0.447154  0.695971  0.646933  0.0
3    0.878947  0.239130  0.609626  0.319588  ...  0.308943  0.798535  0.857347  0.0
4    0.581579  0.365613  0.807487  0.536082  ...  0.455285  0.608059  0.325963  0.0
..        ...       ...       ...       ...  ...       ...       ...       ...  ...
173  0.705263  0.970356  0.582888  0.510309  ...  0.130081  0.172161  0.329529  1.0
174  0.623684  0.626482  0.598930  0.639175  ...  0.178862  0.106227  0.336662  1.0
175  0.589474  0.699605  0.481283  0.484536  ...  0.089431  0.106227  0.397290  1.0
176  0.563158  0.365613  0.540107  0.484536  ...  0.097561  0.128205  0.400856  1.0
177  0.815789  0.664032  0.737968  0.716495  ...  0.105691  0.120879  0.201141  1.0

[178 rows x 14 columns]

In [ ]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [ ]:
class_0 = df[lambda a: a[13]==0]
class_1 = df[lambda a: a[13]==0.5]
class_2 = df[lambda a: a[13]==1]

In [ ]:
df1 = df.copy(deep=True)
for i in range(len(df1)):
  if df1.iloc[i,13]==0:
    df1.iloc[i,13]=1
  else:
    df1.iloc[i,13]=0

In [ ]:
df1

           0         1         2         3   ...        10        11        12   13
0    0.842105  0.191700  0.572193  0.257732  ...  0.455285  0.970696  0.561341  1.0
1    0.571053  0.205534  0.417112  0.030928  ...  0.463415  0.780220  0.550642  1.0
2    0.560526  0.320158  0.700535  0.412371  ...  0.447154  0.695971  0.646933  1.0
3    0.878947  0.239130  0.609626  0.319588  ...  0.308943  0.798535  0.857347  1.0
4    0.581579  0.365613  0.807487  0.536082  ...  0.455285  0.608059  0.325963  1.0
..        ...       ...       ...       ...  ...       ...       ...       ...  ...
173  0.705263  0.970356  0.582888  0.510309  ...  0.130081  0.172161  0.329529  0.0
174  0.623684  0.626482  0.598930  0.639175  ...  0.178862  0.106227  0.336662  0.0
175  0.589474  0.699605  0.481283  0.484536  ...  0.089431  0.106227  0.397290  0.0
176  0.563158  0.365613  0.540107  0.484536  ...  0.097561  0.128205  0.400856  0.0
177  0.815789  0.664032  0.737968  0.716495  ...  0.105691  0.120879  0.201141  0.0

[178 rows x 14 columns]

In [ ]:
df2 = df.copy(deep=True)
for i in range(len(df2)):
  if df2.iloc[i,13]==0.5:
    df2.iloc[i,13]=1
  else:
    df2.iloc[i,13]=0

In [ ]:
len(df2)

178

In [ ]:
df3 = df.copy(deep=True)
for i in range(len(df3)):
  if df3.iloc[i,13]==0.5:
    df3.iloc[i,13]=1
  else:
    df3.iloc[i,13]=0

In [ ]:
class_1_train = df1.sample(frac=0.4)
temp = df1.drop(class_1_train.index)
class_1_validation = temp.sample(frac=0.3/0.6)
class_1_test = temp.drop(class_1_validation.index)

In [ ]:
class_2_train = df2.sample(frac=0.4)
temp = df2.drop(class_2_train.index)
class_2_validation = temp.sample(frac=0.3/0.6)
class_2_test = temp.drop(class_2_validation.index)

In [ ]:
class_3_train = df3.sample(frac=0.4)
temp = df3.drop(class_3_train.index)
class_3_validation = temp.sample(frac=0.3/0.6)
class_3_test = temp.drop(class_3_validation.index)

In [ ]:
import math
def logfun(arr):
  lst = []
  for i in range(len(arr)):
    lst.append(math.log(arr[i]))
  return np.array(lst)

In [ ]:
def hypothesis(w,x):
  y=w[0] 
  for i in range(13):
    y = y + np.array(w[i+1])*x[:,i]
  gx = 1/(1+(math.e)**(-1*y))
  return gx

In [ ]:
def mse(w,x_dataset, y_dataset):
  t =  np.mean((hypothesis(w,x_dataset)-y_dataset)**2)/2
  return t

In [ ]:
def logLoss(w,x_dataset,y_dataset):
  hx = hypothesis(w,x_dataset)
  y = np.mean(((-1*y_dataset*logfun(hx)) - ((1-y_dataset)*logfun(1-hx))))
  return y

In [ ]:
def update_coeff(w,indx,alpha,x_dataset,y_dataset,hx):
  if indx is 0:
    xij = 1
  else:
    xij = x_dataset[:,indx-1]
  wj = w[indx] - np.sum(((hx - y_dataset)*xij))*(alpha/len(x_dataset))
  return wj

In [ ]:
def print_logloss(w,dataset,alpha,rho,epoch):
  x = np.array(dataset.iloc[:,:13])
  y = np.array(dataset.iloc[:,13:])
  i=0
  diff=9999999
  current_logloss=9999999
  t = []
  while diff > rho and i < epoch:
    hx = hypothesis(w,x)
    for j in range(13):
      t.append(update_coeff(w,j,alpha,x,y,hx))
    for k in range(13):
      w[k]=t[k]
    i = i+1
    temp = logLoss(w,x,y)
    diff = current_logloss - temp
    current_logloss = temp
  current_logloss = logLoss(w,x,y)
  print("Log Loss for","Learning rate : {}".format(alpha),"rho : {}".format(rho),"epoch : {}".format(epoch),"is",current_logloss)
  #return current_mse

In [ ]:
w1 = np.ones(14)
w2 = np.ones(14)
w3 = np.ones(14)

In [ ]:
print_logloss(w1,class_1_validation,0.1,0.1,10)
w1 = np.ones(14)
print_logloss(w1,class_1_validation,0.01,0.01,20)
w1 = np.ones(14)
print_logloss(w1,class_1_validation,0.05,0.01,30)
w1 = np.ones(14)
print_logloss(w1,class_1_validation,0.001,0.01,40)
w1 = np.ones(14)
print_logloss(w1,class_1_validation,0.2,0.01,40)
w1 = np.ones(14)
print_logloss(w1,class_1_validation,0.05,0.001,40)

In [ ]:
w1 = np.ones(14)
print_logloss(w1,class_1_train,0.05,0.001,40)

In [ ]:
print_logloss(w2,class_2_validation,0.1,0.1,10)
w2 = np.ones(14)
print_logloss(w2,class_2_validation,0.01,0.01,20)
w2 = np.ones(14)
print_logloss(w2,class_2_validation,0.05,0.01,30)
w2 = np.ones(14)
print_logloss(w2,class_2_validation,0.001,0.01,40)
w2 = np.ones(14)
print_logloss(w2,class_2_validation,0.2,0.01,40)
w2 = np.ones(14)
print_logloss(w2,class_2_validation,0.05,0.001,40)

In [ ]:
w2 = np.ones(14)
print_logloss(w2,class_2_train,0.05,0.001,40)

In [ ]:
print_logloss(w3,class_3_validation,0.1,0.1,10)
w3 = np.ones(14)
print_logloss(w3,class_3_validation,0.01,0.01,20)
w3 = np.ones(14)
print_logloss(w3,class_3_validation,0.05,0.01,30)
w3 = np.ones(14)
print_logloss(w3,class_3_validation,0.001,0.01,40)
w3 = np.ones(14)
print_logloss(w3,class_3_validation,0.2,0.01,40)
w3 = np.ones(14)
print_logloss(w3,class_3_validation,0.05,0.001,40)

In [ ]:
w3 = np.ones(14)
print_logloss(w3,class_3_train,0.05,0.001,40)

In [ ]:
def plotting(x, y_1, y_2, label_1, label_2, t):
      plt.plot(x, y_1, label = label_1)
      plt.plot(x, y_2, label = label_2)
      plt.title(t)
      plt.show()