In [1]:
import pandas as pd

In [1]:
student_scores = pd.read_csv("student_scores.csv")
student_scores

NameError: name 'pd' is not defined

# Problem 1

In [3]:
student_scores.shape

(25, 2)

## Number of features

In [4]:
len(student_scores.columns)  # number of features

2

## Number of patterns

In [5]:
len(student_scores)

25

## Range of output: TODO

# Problem 2

Split the dataset in `X:Y`.

## Part a

X = 10:10:90 (i.e., initial: 10%, increment by 10%, maximum is 90%)

In [6]:
for train_percentage in range(10, 100, 10):
    train_set = student_scores.sample(frac=train_percentage/100)
    test_set = student_scores.drop(train_set.index)
    print(test_set, end="\n\n")

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
11    5.9      62
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

    Hours  Scores
0     2.5      21
3     8.5      75
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
19    7.4      69
20    2.7      30
21    4.8      54
24    7.8      86

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
6     9.2      88
9     2.7      25
10    7.7      85
12    4.5      41
13    3.3      42
16    2.5      30
17    1.9      24
18    6.1      67
23    6.9      76
24    7.8      86

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
4     3.5      30
5     1.5      20
7     5.5      60
8     8.3      81
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
20    2.7      30
22    3.8      35

    Hours  Scores
0     2.5      21
3     8.5      75
5     1.5      20
6     9.2      88
7     5.5      60
9     2.7      25
10    7.7      85
18    6.1      67
19    7.4      69
21    4.8      54

    Hours  Scores
0     2.5      21
3     8.5      75
4     3.5      30
8     8.3      81
15    8.9      95
20    2.7      30
24    7.8      86

    Hours  Scores
1     5.1      47
3     8.5      75
4     3.5      30
5     1.5      20
19    7.4      69

    Hours  Scores
1     5.1      47
4     3.5      30
14    1.1      17

## Part b

Y = 90:10:10 (i.e., initial: 90%, decrement by 10%, minimum is 10%)

In [7]:
for test_percentage in range(90, 0, -10):
    test_set = student_scores.sample(frac=test_percentage/100)
    train_set = student_scores.drop(test_set.index)
    print(train_set, end="\n\n")

    Hours  Scores
0     2.5      21
7     5.5      60
21    4.8      54

    Hours  Scores
0     2.5      21
6     9.2      88
9     2.7      25
21    4.8      54
23    6.9      76

    Hours  Scores
5     1.5      20
10    7.7      85
11    5.9      62
15    8.9      95
19    7.4      69
20    2.7      30
21    4.8      54

    Hours  Scores
2     3.2      27
4     3.5      30
6     9.2      88
9     2.7      25
10    7.7      85
12    4.5      41
15    8.9      95
16    2.5      30
23    6.9      76
24    7.8      86

    Hours  Scores
0     2.5      21
3     8.5      75
4     3.5      30
9     2.7      25
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
23    6.9      76

    Hours  Scores
0     2.5      21
1     5.1      47
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
10    7.7      85
11    5.9      62
12    4.5      41
16    2.5      30
18    6.1      67
20    2.7      30
24    7.8      86

    Hours  Scores
0     2.5      21
1     5.1      47
3     8.5      75
5     1.5      20
6     9.2      88
7     5.5      60
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
24    7.8      86

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
18    6.1      67
19    7.4      69
20    2.7      30
22    3.8      35
23    6.9      76

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
19    7.4      69
20    2.7      30
21    4.8      54
23    6.9      76
24    7.8      86

# Problem 3

Write a program to calculate the row-wise,column-wise, and
overall mean, median, mode, and standard deviation of the
dataset.

## Mean

In [20]:
student_scores.mean()  # column wise

Hours      5.012
Scores    51.480
dtype: float64

In [22]:
student_scores.mean(axis=1)  # row wise

0     11.75
1     26.05
2     15.10
3     41.75
4     16.75
5     10.75
6     48.60
7     32.75
8     44.65
9     13.85
10    46.35
11    33.95
12    22.75
13    22.65
14     9.05
15    51.95
16    16.25
17    12.95
18    36.55
19    38.20
20    16.35
21    29.40
22    19.40
23    41.45
24    46.90
dtype: float64

TODO: how to calculate overall mean

## Median

In [9]:
student_scores.median()

Hours      4.8
Scores    47.0
dtype: float64

## Mode

In [10]:
student_scores.mode()

   Hours  Scores
0    2.5    30.0
1    2.7     NaN

## Standard deviation

In [11]:
student_scores.std()

Hours      2.525094
Scores    25.286887
dtype: float64

# Problem 4

Calculate the sum square error for polynomial curve fitting
problem using the dataset.